[2016-11-23 09:58] nopara73 opened #4 "In order to pass CanRSASign test"
You have a test, called `CanRSASign()` in `Class1.cs`.
It is outcommented. I suppose, because that test doesn't pass.
I don't see the big picture yet, I just want to note if you divide the `RsaKey.KeySize` by 8 it will pass.

`RandomUtils.GetBytes(RsaKey.KeySize / 8);`

**Update:**  With 88be17e9997717fb29269af308920c30cc7e405d commit the `CanRSASign()` test function has been uncommented. The test

[2016-11-24 13:33] NicolasDorier commented on #4
fixed

[2016-11-24 13:33] #4 closed

[2016-11-24 15:59] nopara73 opened #5 "What is the sign parameter for in BigInteger?"

[2016-11-24 17:07] nopara73 commented on #5
Nevermind. I am inspecting the code commit by commit, I saw you already got rid of it.

[2016-11-24 17:07] #5 closed

[2016-12-27 16:11] drov0 opened #12 "When running the tests for the first time they fail"
Happened to me when cloning the repo
then dotnet restore
then going into NTumbleBit.Test and running dotnet test

I'm on ubuntu 16.04

[2016-12-27 22:56] drov0 commented on #12
Fixed with 0eaa7b7dbd6829648ee9842ff828aa7af2d771a7

[2016-12-27 22:56] #12 closed

[2017-01-06 03:49] nopara73 opened #13 "Some tests are randomly failing"
I tried to induce as much failed tests as possible. Here are the ones those are randomly failing sometimes.

Environment: Windows 7 virtualbox guest.

They are mostly interrelated and the problem is with the test setup. This is not a full list of failed tests.

1.
[code]

2.
[code]

3.
[code]

4.
[code]

5.
[code]

6.
[code]

7.
[code]

[2017-01-06 07:30] nopara73 commented on #13
I spent considerable amount of time and here is my experience:

When you mess up your system (opening other softwares, stopping randomly the tests, etc) you can get a considerable amount of failed tests coming up randomly.

Only the `TumblerServerTests` are failing.
Everything is related to

- bitcoinds those are left open sometimes when the test fails or I terminate,
- probably the kestrel server

[2017-01-06 07:50] nopara73 opened #15 "Warning should be resolved: The type 'NullLogger' in ... conflicts with ..."
[code]

[2017-01-06 10:22] NicolasDorier commented on #13
problem is that you don't know the port and rpc creds of the left over bitcoind.

For the magic dust solution, can you try it ? I am not sure this is the problem.

[2017-01-07 07:35] nopara73 commented on #13
Yes, as I said before it fixes about half of the problems.

[2017-01-26 01:56] nopara73 commented on #15
I don't see this warning anymore. Somwhere along the line got fixed.

[2017-01-26 01:56] #15 closed

[2017-01-26 05:25] nopara73 opened #25 "What's going on here?"
@NicolasDorier

`/NTumbleBit.Common/TextFileConfiguration.cs`

[code]

Seems like you are modifying a list that will be shortly garbage collected after.
Or does it actually modify the inside of the _Args dictionary?
If so could we add a `_Args.AddOrReplace(key, list);` at the end to be obvious?

[2017-01-26 06:04] nopara73 opened #26 "Possible mistake"
`NTumbleBit.TumblerServer\TumblerConfiguration.cs`

[code]
Here `hostOut` is set, but never used. I think what you intended to do is build the IPAddress from it, instead of the `str`:
`return new IPEndPoint(IPAddress.Parse(hostOut), portOut);`

[2017-01-26 06:35] #25 closed

[2017-01-26 06:35] nopara73 commented on #25
Prefer keep it as is.

[2017-01-26 07:11] nopara73 commented on #26
https://github.com/NTumbleBit/NTumbleBit/pull/27

[2017-01-26 07:11] #26 closed

[2017-02-08 17:58] ezegom opened #30 "OSX El Capitan default max open files is 256. The Client Crashes."
Below is the log showing the exception thrown of a client crash.

[code]

[2017-02-08 18:06] nopara73 commented on #30
By googling it it seems like it is an issue related  to MAC. ("Too many open files.")
Related: https://github.com/dotnet/corefx/issues/12503

[2017-02-08 18:20] ezegom commented on #30
Solved: http://blog.dekstroza.io/ulimit-shenanigans-on-osx-el-capitan/ , Thank you!

[2017-02-08 18:47] nopara73 commented on #30
Not yet. It's only solved in your system :)
Let's keep this issue open, until it's taken care in the code.

[2017-02-08 18:50] ezegom commented on #30
Yeah, for some reason OSX El Capitan computers have a very small default number of max user processes(709) and open files (256) .

[2017-02-10 23:22] nopara73 opened #31 "Add wiki editing notification"
When someone edits the wiki we should be notified.
Need to look into how to do this: http://stackoverflow.com/questions/8407917/how-can-you-track-or-be-notified-of-changes-to-github-wikis

[2017-03-03 15:43] nopara73 opened #32 "Make good use of waxwing's review"
You can find it here: https://redd.it/5xavf7
Maybe add a link to the wiki, if people get stuck this can help. Other ideas?

[2017-03-13 03:57] NicolasDorier commented on #13
I did not experienced any problem with tests anymore. Waxwing issues is separate.

[2017-03-13 03:59] NicolasDorier commented on #30
@ezegom can you git pull and retry again. There is a tumbler on http://testnet.ntumblebit.metaco.com/ you can run with `dotnet run -testnet -server=http://testnet.ntumblebit.metaco.com/`.  I do not think it fix it, but at least we wil have better exception trace.

[2017-03-13 04:10] NicolasDorier commented on #32
now checking min bitcoin core version at https://github.com/NTumbleBit/NTumbleBit/commit/b1a4eafefd0a7f223f0c55b6616b5ac7b69d1765

[2017-03-13 06:28] #32 closed

[2017-03-13 06:29] nopara73 commented on #13
I'll keep this in my ToDo list and get back to it after we released the first version of Breeze wallet so we start working on TumbleBit integration.

[2017-03-13 16:58] ezegom commented on #30
Alright, I'll set the number of open files and processes back to default settings and retry with the tumbler on  http://testnet.ntumblebit.metaco.com/

[2017-03-28 09:02] NicolasDorier opened #34 "Tumbling is very slow, lot's of Client's redeem broadcasted"
It seems the transaction monitor (class responsible for broadcasting transactions on time), is too slow to run when there is too many transaction.

The reason is that the `RPCTrustedBroadcaster` and `RPCBroadcaster` are calling `listtransactions` once per transaction. This can quickly escalate an take several minutes if there is 50 transactions.

It is in theory possible to call `listtransactions`

[2017-03-29 09:40] takaya-imai commented on #34
This issue is related to the following error messages?
I got the messages in case of test cycle parameters below the message.

[code]

test cycle parameters
[code]

[2017-03-29 09:59] NicolasDorier commented on #34
this is unrelated, but thanks for reporting "Too many open files" I have an idea where it comes from, will fix,

[2017-03-29 10:00] NicolasDorier opened #35 "DBreezeException; Too many open files"
Error reported
[code]

[2017-03-29 10:00] NicolasDorier commented on #34
https://github.com/NTumbleBit/NTumbleBit/issues/35

[2017-03-29 10:13] nopara73 commented on #35
Isn't it duplicate? https://github.com/NTumbleBit/NTumbleBit/issues/30

@takaya-imai Could you confirm this is duplacate?

[2017-03-30 04:08] #35 closed

[2017-03-30 04:09] NicolasDorier commented on #35
Please can you try again with my fix ? It should be ok now

[2017-03-30 04:09] NicolasDorier commented on #30
Please can you try again with my fix ? It should be ok now

[2017-03-30 04:12] ezegom commented on #30
It seems to work correctly now. I set the settings back to default and it ran as expected, also Leen downloaded and ran recently from El Capitan with default settings without an issue! Thanks @NicolasDorier

[2017-03-30 04:23] NicolasDorier commented on #30
Nice. I think the fact that with time the number of file open was ever gowing did not helped.

[2017-03-30 04:23] #30 closed

[2017-03-30 10:43] takaya-imai commented on #35
@nopara73 it might be duplicate.

If I change the max open files by editing /etc/security/limits.conf on ubuntu 16.04, the errors are disappeared temporarily
but I think Tumbler should not have so many open files at the same time.

This is my setting for Tumbler process.
[code]

[2017-03-30 10:44] takaya-imai commented on #35
@NicolasDorier Thanks a lot. I'll check.

[2017-04-01 15:34] takaya-imai commented on #35
@NicolasDorier It seems to be solved.

[2017-04-12 05:33] nopara73 opened #37 "Consider disabling testparallelization to fix random test fails"
It solves most (maybe all) random test fails. Thoughts?

https://xunit.github.io/docs/running-tests-in-parallel.html
`[assembly: CollectionBehavior(CollectionBehavior.CollectionPerAssembly, DisableTestParallelization = true, MaxParallelThreads = 1)]`

[2017-04-12 05:34] nopara73 commented on #37
The issue: https://github.com/NTumbleBit/NTumbleBit/issues/13

[2017-04-12 06:36] #37 closed

[2017-04-12 06:37] NicolasDorier commented on #13
did #37 solved everything ?

[2017-04-12 08:07] nopara73 commented on #13
So far so good. Reopen if not.

[2017-04-12 08:07] #13 closed

[2017-04-22 10:33] takaya-imai opened #40 "error MSB4019: The imported project "C:\Program Files\dotnet\sdk\1.0.1\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk."
I am installing NTumbleBit on Windows 10.
I got errors as follows. What library else is needed or I should change windows version?

[code]

I installed .Net Core for "Command line/other", https://www.microsoft.com/net/core#windowscmd first and the errors occurred.
So I installed .Net Core for "Visual Studio 2017", https://www.microsoft.com/net/core#windowsvs2017 second but I got the same errors.

[2017-04-23 02:58] nopara73 commented on #40
This happens when you have the latest .net core installed on your system, but NTumbleBit uses an older one (for now).

[2017-04-24 03:07] NicolasDorier commented on #40
Follow the README to install exactly the version of .NET SDK and Runtime TumbleBit is expecting.
Will update at one point.

[2017-04-29 05:07] takaya-imai commented on #40
Thanks for your comments.
No errors were occurred if I changed older version of necessary libraries.

[2017-04-29 05:07] #40 closed

[2017-04-30 14:45] unsystemizer opened #41 "HidenWallet setup instructions faulty"
https://github.com/NTumbleBit/NTumbleBit/wiki/How-to-Run#hiddenwallet

I get `warn : The folder '/home/user/HiddenWallet' does not contain a project to restore.`

Probably it got messed up after the recent updates.

[2017-04-30 14:47] unsystemizer opened #42 "Document CLI operation"
Is there a place where we can see a complete flow of the CLI commands, from the beginning till the end?

[2017-04-30 15:07] NicolasDorier commented on #42
Yes here:

https://github.com/NTumbleBit/NTumbleBit/wiki

The important thing to understand is that this is a passive process, not an active one. The client command line utility just dumbly drain all the coins from the input bitcoin core wallet to and hd pubkey.

[2017-04-30 15:23] nopara73 commented on #41
The instructions are correct.
[code]

I think you missed cd into src/HiddenWallet.

[2017-04-30 16:07] unsystemizer commented on #41
@nopara73 you're right, that warning was from my 2nd attempt (I thought to try something different).
But I get the same error by following the Wiki. Can you check?

[code]

[2017-04-30 16:18] unsystemizer commented on #42
Yes, I read the Wiki (and made changes `How to run`) but it's still find the process a bit confusing.
I haven't tried to use it yet, for now I just got to the point where both the server and client can start.

The link you gave mentions "from one address to another address" and I will use another Bitcoin Core instance for my wallet, so I guess what I'm supposed to see is coins sent from addresses

[2017-04-30 16:29] NicolasDorier commented on #42
There is only 2 options available `-testnet` and `-onlymonitor`.

You are using Hidden Wallet as output wallet. Why is that ?
You can use Copay, or Bitcoin Core as well. I think Copay is the easiest. (or trezor/ledger since it is also using HD)

I will add some diagram to better explain the big picture.

[2017-04-30 16:31] NicolasDorier commented on #42
#39 by itself is not that useful for now. I want it for future features.

Yes. You basically create your bitcoin core wallet. Then the tumbler take coins out of it and send it to address generated by a BIP32 pubkey/path, or by another bitcoin core.

[2017-04-30 16:53] unsystemizer commented on #42
I wanted to use Hidden Wallet because that seemed the easiest based on the Wiki.

I forgot to mention: I was also wondering about "Payment Hub Mode" which isn't explained on that Wiki page - how does that model work and can the hub take a fee like in JoinMarket?

[2017-04-30 17:02] NicolasDorier commented on #42
Payment hub mode is not yet developped.
It is a way to use TumbleBit as a trustless, privacy friendly, second layer payment system.

The Tumbler Mode is only about making sure two addresses are not linked, that the server can't link either.

[2017-05-01 03:16] unsystemizer opened #43 "Trivial: server should wait if port open or message could be made friendlier"
A minor thing I noticed today: if bitcoind has been started but RPC server is still not up, TumbleServer suggests that server.config be changed:

[code]

While not many users would start TumbleServer right away, some perhaps will and may wonder what's wrong with their configuration file.

Suggestion: `Please, fix rpc settings ` to `Please ensure RPC server is running and accessible or fix RPC sett

[2017-05-01 03:17] unsystemizer opened #44 "Document the minimum amount of funds required"
[code]

[2017-05-01 05:48] nopara73 commented on #41
I strongly suspect it's because I upgraded HiddenWallet to the new .NET Core version and NTumbleBit needs the old one. So far I haven't figured out how to have both of the version in one computer, so I'd rather wait until NTumbleBit gets up to date and not downgrade HiddenWallet.

The old .NET Core needs project.json, the new one .csproj file. So it makes sense that it doesn't find project.json, b

[2017-05-01 05:52] nopara73 commented on #42
Until NTumbleBit upgrades to the new .NET Core version HiddenWallet is unusable if one doesn't have both .NET Core version on their system.

[2017-05-01 06:50] unsystemizer commented on #41
No problem, thanks for reopening the issue. Once it's sorted out (maybe by NTumbleBit moving to the same release) we can close it.
Should we put a link to this issue in the Wiki or leave it as-is for time being?

[2017-05-01 09:23] nopara73 commented on #41
Yes, putting a link to this issue is a good idea. Could you do that? Practice contribution a little bit? :P

[2017-05-01 11:18] unsystemizer commented on #41
I added a note which we can remove once this is no longer a problem.

[2017-05-10 08:56] NicolasDorier opened #46 "Need to update packages affected by vulnerability"
https://technet.microsoft.com/en-us/library/security/4021279

[2017-05-14 16:45] takaya-imai opened #47 "Error while executing state machine 1123140: NBitcoin.RPC.RPCException: Transaction too large for fee policy"
I got an error when I tried codes for the latest commit https://github.com/NTumbleBit/NTumbleBit/commit/b9dfa56103e78d4291e141275f502118c8555ccc on testnet.

[code]

[2017-05-16 03:29] takaya-imai commented on #47
It is resolved by https://github.com/NTumbleBit/NTumbleBit/commit/513de5fddd5ea6315dc12c0f3cdadf6500bb9596 .

[2017-05-16 03:29] #47 closed

[2017-05-17 10:06] NicolasDorier commented on #46
package have been updated

[2017-05-17 10:06] #46 closed

[2017-05-17 10:29] NicolasDorier commented on #44
Fixed in https://github.com/NTumbleBit/NTumbleBit/commit/df70799c9f99fbe87e420767e8f3b5cd17898557 please reopen if any issue.

[2017-05-17 10:29] #44 closed

[2017-05-17 10:33] NicolasDorier commented on #43
fixed in https://github.com/NTumbleBit/NTumbleBit/commit/e63132175cf5d84a279026bb0b3e7e46d135a5e5

[2017-05-17 10:33] #43 closed

[2017-05-21 16:12] takaya-imai opened #48 "Error while executing state machine 1125088: NTumbleBit.PuzzleSolver.PuzzleException: Impossible to find solution to the puzzle"
I got an error for Client Cashout as the end of this issue.

At first, I did not get why a solution Bob has can not solve the puzzle Bob already had
since the solution is checked through Puzzle Solver Protocol.

Investigating tx, it looks that Puzzle Solver Protocol is skipped or failed.
So it might be better that client write failure into log if the protocol failed due to no response from tumbler

[2017-05-23 10:51] takaya-imai opened #49 "Small fee for Tumbler Cashout tx and Client Cashout tx"
Cashout tx always has small fee in mainnet and it takes long time to confirm.
Tx in testnet seems to have the same problem but I have no detail data for the problem in testnet.

Investigating tx, I got a problem point for the small fee.
Problem is tx size estimation for both cashout txes.

I explain the problem point as below.

-----

I investigated Tumbler Cashout tx and Client Cashout tx by inse

[2017-05-23 12:50] nopara73 commented on #37
Confirmation: I've been trying to reproduce the random test fails in various forms, but couldn't. No test fails anymore.

[2017-05-24 11:18] nopara73 opened #52 "Drop the forceful support of BIP44 and make it optional"
The wiki says you need to give these information to the client.config file on Copay:
[code]

However the Copay keypath is `44'/1'/0'` or `m/44'/1'/0'` if you wish.

BIP44 is not universally used. In fact [not even Bitcoin Core uses is (and won't use it in the future)](https://bitcoin.stackexchange.com/a/50079/26859).

It also makes it impossible to use HiddenWallet as an output wallet. I propose t

[2017-05-24 21:27] nopara73 commented on #52
Also I think we should consider using the `k` notation @jonasschnelli is using in his stackexchange answer: `m/0'/0'/k'`.
Right now NTumbleBit only does nonhardened last key derivation, eg: `m/44'/1'/0'/k` in case of Copay. There'll be wallets those are not like this (like Bitcoin Core).

[2017-05-24 22:38] NicolasDorier commented on #52
the extpubkey shared by copay is already 44'/1'/0' it means that the documented path create the first address at 44'/1'/0'/0/0 which is the correct first public addresss of Copay.

TB is agnostic to BIP44 and do not force anything about it.

For Bitcoin Core, I have a PR which allow HD watch only wallet which use BIP44 like trezor. https://github.com/bitcoin/bitcoin/pull/9728

Ledger also use BIP4

[2017-05-24 23:25] nopara73 commented on #52
That's not true. How would you go about defining this keypath in NTumbleBit config?: `m/0'/0'/k'`

I see that clears up some confusion. In this case the `keypath` should be defined in the config file like this: `44'/1'/0'/0/k`.

[2017-05-25 05:28] nopara73 commented on #41
Also related: https://github.com/NTumbleBit/NTumbleBit/issues/52
Once it's resolved I remove the NTumbleBitTest branch in HiddenWallet and add support for the new version of HiddenWallet (which has GUI) to be able to be output wallet for NTumbleBit.

[2017-05-25 05:57] nopara73 commented on #31
By integrating GitHub to slack this issue is resolved.

[2017-05-25 05:57] #31 closed

[2017-05-25 06:52] nopara73 commented on #42
Closing, continue here: https://github.com/NTumbleBit/NTumbleBit/issues/41

[2017-05-25 06:52] #42 closed

[2017-05-25 06:55] nopara73 commented on #34
I think if this get merged the issue can be easily resolved: https://github.com/bitcoin/bitcoin/pull/9991, right?

[2017-05-25 07:16] nopara73 opened #53 "Implement status for the interactive mode"
When you start the CLI with `-i`, there is a `status` command, which only shows `Status not implemented yet!`.
Not sure what the intended behavior should be. Maybe we could just remove it.

[2017-05-25 07:25] nopara73 opened #54 "Update DBreeze NuGet package"
I was not able to properly do it, I got could not load the assembly runtime error when I to so.

[2017-05-25 07:25] nopara73 opened #55 "Resolve VS2017 warnings"
`MSB3026	Could not copy "C:\xxx\Microsoft.TestPlatform.CoreUtilities.resources.dll" to "bin\Debug\netcoreapp1.1\Microsoft.TestPlatform.CoreUtilities.resources.dll". Beginning retry 1 in 1000ms. The requested operation cannot be performed on a file with a user-mapped section open.`
I have like 3-10 warning like this, these warnings were present before the updates, too.

I use Windows 7.

[2017-05-25 08:16] nopara73 opened #58 "Add client switch that specifies the maximum amount to mix out from Core"
Not sure what's the right way to do it yet.

[2017-05-25 08:18] nopara73 opened #59 "Add some server configuration options"
Maybe in the config file we could add some server configuration options, like denomination and what else.

[2017-05-25 08:20] nopara73 opened #60 "Explain why it is dangerous to disconnect on the middle of a tumbler cycle, and how segwit would solve the issue in the wiki"
I deleted the Risks page from the wiki (it had 2 todo items, nothing else), and rather moved those todo items here as issues.

[2017-05-25 08:20] zeptin commented on #59
+1 for the denomination

[2017-05-25 08:22] nopara73 opened #61 "Benevolent tumbler idea"
It was a todo comment in the wiki, which I deleted and moved it here, as in issue instead:

[2017-05-27 14:11] takaya-imai commented on #49
GetVirtualSize() in NBitcoin always returns 85 bytes in my NTumbleBit debug code for small fee.

[code]

[2017-05-28 05:49] zeptin opened #62 "FeeRateUnavailableException thrown when estimatefee returns bad information"
Stack trace showing exception:

[code]

In RPCFeeService.GetFeeRate the following code is called:

[code]

Note that only the last 3 blocks are considered for fee estimation.

Checking the output of the 'estimatefee' RPC call on a testnet node:

[code]

It seems that the actual problem is that the fallback fee rate is not being set in the FeeService when it is initialised in ExternalServices.cs. I

[2017-05-29 04:06] nopara73 commented on #62
The `FallBackFeeRate` is not set, it also breaks regtest.
There are a number of ways to resolve it. I will implement it as soon as we come to an agreement. @NicolasDorier, @zeptin which do you think should I implement, or do you have a better idea?

1. We could set the default `FallBackFeeRate` to be the `MinimumFeeRate`.
IMO this is a bad idea, it would solve only the regtest and testnet testing.

[2017-05-29 05:10] nopara73 commented on #62
At https://github.com/NTumbleBit/NTumbleBit/pull/63 I temporarily set the `FallBackFeeRate` to `MinimumFeeRate` until we figure out what the proper `FallBackFeeRate` should be. So now the testnet and regtest works properly.

[2017-05-29 23:27] NicolasDorier commented on #62
there should have no FallBackFeeRate. If you do not have estimation, it means your bitcoin node did not run long enough time.

[2017-05-29 23:28] NicolasDorier commented on #62
I am against adding dependency on any other service. If the fee estimation is unavailable, it should crash until the node ran long enough.

[2017-05-29 23:35] NicolasDorier commented on #52
[code]
No, as TB never have the private key it can t derive on hardened path.

TB currently make no assumption about BIP44

[2017-05-29 23:39] NicolasDorier commented on #52
have you tried since my fix on https://github.com/NTumbleBit/NTumbleBit/commit/036c2b6bb7e4805bfe236daff97b58849020fcf0 ?

[2017-05-29 23:39] NicolasDorier commented on #49
have you tried since my fix on https://github.com/NTumbleBit/NTumbleBit/commit/036c2b6bb7e4805bfe236daff97b58849020fcf0 ?

[2017-05-29 23:49] NicolasDorier commented on #49
mmhh wait a second, it seems to be something else, thanks for tracking it down will review carefully.

[2017-05-30 00:11] NicolasDorier commented on #49
I think I fixed it can you try https://github.com/NTumbleBit/NTumbleBit/commit/f88bda2ce60eda7fdc65bcc0b9d496710ef4ee12

[2017-05-30 04:17] takaya-imai commented on #49
@NicolasDorier thanks for review! I try https://github.com/NTumbleBit/NTumbleBit/commit/f88bda2ce60eda7fdc65bcc0b9d496710ef4ee12 .

[2017-05-30 08:11] nopara73 commented on #62
Neverthless you mast have it on RegTest, because estimatefee always fails there. https://github.com/NTumbleBit/NTumbleBit/pull/64

[2017-05-30 08:11] #62 closed

[2017-05-30 10:15] NicolasDorier commented on #34
I normally fixed it. I am using ListTransaction once for all transaction to broadcast.

[2017-05-30 10:17] nopara73 commented on #34
I guess you can close it and if still a problem then reopen it.

[2017-05-30 12:06] takaya-imai commented on #49
@NicolasDorier
I am testing https://github.com/NTumbleBit/NTumbleBit/commit/f88bda2ce60eda7fdc65bcc0b9d496710ef4ee12
but it looks like fixing only PuzzlePromise Part(Client Cashout) but not fixing PuzzleSolver Part(Tumbler Cashout).

Do you think that below is not needed to fix to include `fulfillScript + Op.GetPushOp(offerCoin.Redeem.ToBytes())` size?
https://github.com/NTumbleBit/NTumbleBit/blob

[2017-05-30 13:26] NicolasDorier commented on #49
wow very nice. I can't believe I made same mistake three time in the code I just pushed a fix, can you try ?

[2017-05-30 13:39] NicolasDorier commented on #49
oops, still mistake, real fix on b0f838caf89f5ce3c29f5d9ca63d31bd997ead65

[2017-05-31 06:26] takaya-imai commented on #49
thanks, I am testing https://github.com/NTumbleBit/NTumbleBit/commit/b0f838caf89f5ce3c29f5d9ca63d31bd997ead65 now.

[2017-05-31 11:49] NicolasDorier commented on #59
should be just a json file dropped somewhere with all tumbler parameters as returned by GetParameters.

[2017-06-01 02:39] nopara73 commented on #52
I see. It turnes out I had an incorrect understanding on what hardened means.
I didn't know this code throws an exception.

[code]

In this case everything is fine. I have an unused backup, nonhardened keypath in HiddenWallet, that will be perfect for NTumbleBit output wallet.

[2017-06-01 02:39] #52 closed

[2017-06-02 01:54] NicolasDorier opened #67 "Add tests for fee calculation"
Such bug should have been catched https://github.com/NTumbleBit/NTumbleBit/pull/66

[2017-06-02 02:16] NicolasDorier commented on #58
Doing it the reverse way: configure the expected amount of coin that should stay in Core and not mixed.

[2017-06-02 03:15] nopara73 commented on #58
Why? When you send money you specify how much you send and not how much you want to keep in your wallet.

[2017-06-02 05:27] NicolasDorier commented on #58
Imagine that you are trading on LocalBitcoins and don't want to be flagged by Coinbase, you setup your  LocalBitcoins wallet to keep some liquidty like 2 BTC all time, but continuously clean what is above this threshold.

Saying "I want to mix Y" is active, whereas the design of tumblebit tumbler is done to be passive. Saying "Keep at least 5 BTC on the wallet" can be done passively. Saying "I wan

[2017-06-02 08:16] takaya-imai commented on #49
this issue is solved.

[2017-06-02 08:16] #49 closed

[2017-06-02 09:08] dangershony commented on #58
Can't we do both and let the user configure?

Suggested parameters:
MinMixThreshold = Default (2 BTC)
MaxMixThreshold = Default (5 BTC)

[2017-06-02 09:10] nopara73 commented on #58
I agree with @dangershony

[2017-06-02 17:24] takaya-imai opened #68 "Add recommended client environments for machine resource etc. into wiki"
According to my tests, followings are recommended for client.
I am glad if these are added into wiki.

* minimum machine resource
    * Instance "A1 v2" on Azure Virtual Machine is required to work in the mainnet normally
        * Cores: 1
        * memory: 2 GiB
        * Disk IO: 2*500 IO/s
        * Disk size: 150GB (current blockchain size is ~130GB)
        * reference url
            * http

[2017-06-02 19:57] takaya-imai opened #69 "Add version tag"
It is better to add version tag for development, bug fix and consensus between server and client.

[2017-06-02 23:17] nopara73 commented on #69
Fine by me. Altough it seems procrastination until a server is not run, so I won't figure out this change it.

[2017-06-02 23:19] nopara73 commented on #68
I was under the impression pruned mode can be used, since Nicolas wrote it that way. When did it change?

[2017-06-03 18:43] NicolasDorier commented on #69
Yes, but there is still no version alpha though. IMO the TOR patch is needed before making any release.

[2017-06-03 22:56] NicolasDorier commented on #68
Prune mode should work.

[2017-06-03 22:56] NicolasDorier commented on #68
Why ?

[2017-06-05 00:46] NicolasDorier commented on #58
What would it mean ?

[2017-06-05 12:32] dangershony commented on #58
When I try to explain I realize actually maybe what we want to specify is Active vs Passive mode.

Mode = Active/Passive
ModeAmount = Default (2 BTC) - in active mode it will keep 2 btc not mixed in passive mode it will send this as a one time amount.

[2017-06-05 23:27] NicolasDorier commented on #58
But for now only Passive mode exist, and an active mode can really send only 1 denomination at a time,.
Also, if active, I don't think configuration file is the right place to configure that. It is better a command line argument.

[2017-06-07 08:46] nopara73 commented on #41
Resolved: https://github.com/NTumbleBit/NTumbleBit/wiki/How-to-Run

[2017-06-07 08:46] #41 closed

[2017-06-08 10:20] zeptin commented on #48
I am also encountering this error on my testnet tumbler clients. Did you find a solution?

[2017-06-08 12:36] NicolasDorier commented on #48
woops, I missed the issue. Yes, it can happen if there is a delay between block propagation between server and client. This is actually harmless.

[2017-06-08 12:38] NicolasDorier commented on #48
hu actually no

[2017-06-08 12:52] NicolasDorier commented on #48
@takaya-imai @zeptin just updated my node, can you try again ?

[2017-06-09 03:20] NicolasDorier commented on #48
Fixed

[2017-06-09 03:20] #48 closed

[2017-06-10 06:02] unsystemizer commented on #68
Maybe there's a significant performance impact from the ton of RPC calls (1 vCPU)

I suggest to make this simpler and simply state the minimum resources for nTumbleBit and tell the user they need to add additional CPU, RAM, disk resources for bitcoind and other services **if** they chose to run them on the same host.

[2017-06-11 00:17] nopara73 opened #71 "Tor integration barrier (bug)"
There's a tricky bug when transfering chunked data in DotNetTor. Eg, this get request doesn't execute properly: http://testnet.ntumblebit.metaco.com/api/v1/tumblers/0/parameters

Until it's fixed Tor cannot be integrated.
The issue: https://github.com/nopara73/DotNetTor/issues/5

[2017-06-12 16:19] NicolasDorier opened #72 "Checking and generating proof that the RSA key can be used for blinding"
@EthanHeilman

[2017-06-12 16:21] NicolasDorier commented on #71
will you be able to fix it soon ? this is really the last piece of the puzzle. With https://github.com/NTumbleBit/NTumbleBit/issues/72

[2017-06-12 16:23] NicolasDorier commented on #34
this is still an issue... trying to debug it.

[2017-06-12 16:25] goldbe commented on #72
I'm working on the spec for this protocol right now, will post soon.,

[2017-06-13 02:31] nopara73 commented on #71
Yes, but I don't know how long it will take. I am working on it full time.
I had to go so deep that two days ago I started implementing the whole HTTP/1.1 protocol (https://tools.ietf.org/html/rfc7230 ) from scratch and hoping when I get to the chunked transfer encoding part I'll have all the knowledge I need to tackle that issue.

[2017-06-13 02:32] nopara73 commented on #53
Resolved: https://github.com/NTumbleBit/NTumbleBit/pull/39#issuecomment-307839648

[2017-06-13 02:32] #53 closed

[2017-06-13 04:31] NicolasDorier commented on #34
fixed. Was caused by very low fee on testnet.

[2017-06-13 04:31] #34 closed

[2017-06-15 07:01] NicolasDorier opened #73 "Things to do before Release V1"
~[ ] Create hidden service automatically if TOR is detected~
- [x] Connect Alice side through TOR or HTTP Proxy (Privoxy)
- [ ] RSA Proof for Blinding
- [x] Providing Standard Cycle defintions
- [ ] Tumbled Champagne

[2017-06-15 07:03] NicolasDorier commented on #73
@nopara73 in v1, I think that I will just use the `TorControlClient` for configuring automatically the hidden service. Then allow a HTTP proxy to be configured for Alice. (can be directled to privoxy)

[2017-06-15 08:49] nopara73 commented on #73
Bot Bob and Alice side must be connected. A client has many Bob identities, not only one.
Tor or Privoxy? Do you mean Tor with own HTTP proxy OR Tor with Privoxy?

What is this?

So you couldn't fix the bug or didn't even look at it?
Privoxy was an option we decided against in the beginning, because "we don't want another dependency". Neverthless I continue writing my [http protocol implementation

[2017-06-15 13:21] NicolasDorier commented on #73
Tumbled champagne is the champagne of the release.

Allowing Alice side to configure a HTTP proxy is very easy to do and is not coupled with privoxy.

[2017-06-15 15:18] bokobza opened #74 "Incorrect phase exception"
Hi guys,
I'm receiving an "incorrect-phase" exception. It seems the cycle for registration ends up being behind the first block received so the registration cycle is only 2 phases long instead of 3. But things seem to continue as normal to I'm not sure it it should be an exception or just an error.

Here is a screenshot:
![image](https://user-images.githubusercontent.com/1867877/27188494-3b6cb20c-

[2017-06-16 02:04] NicolasDorier commented on #74
This is "normal" exception

[2017-06-16 02:05] NicolasDorier commented on #74
I should probably hide it, this happen if the client and server are slightly desynchronised.

[2017-06-16 15:08] bokobza opened #75 "Coin is paid in a seemingly random destination address"
Coins being paid to the destination wallet appear to be sent to a random address within it.
All the addresses with a lower index are empty.

Expected results: the coins are being paid starting at address with index 0.
Actual results: the coins are being paid at random addresses within the wallet.

[2017-06-16 17:56] zeptin commented on #75
I can confirm this is happening. I received funds in 0/293 in my destination wallet.

Extpubkey:
tpubDDSmzg7e8fdAS1wH8ChWzZ8TkUd1FNepXHJoyGn8g653V3jSpVv48QE7dj1Va6pbmjCPL7BENiZLRUoxsL3xZmDhXTd5T7LeD2PuEeuctKm

Cashout transaction:
4d59acd36d9f81a94950cccf3be816e3dc2c92e698ff11a9e9355b3278f61241

Output wallet address:
mk24e36KKm3FTpWXp9bjpS33yvhDKJWNoD

Searching programmatically through the keys

[2017-06-17 06:16] NicolasDorier commented on #75
I will add a command so you can query where are used the other keys.

[2017-06-18 03:30] NicolasDorier commented on #67
Now tests validate fees

[2017-06-18 03:30] #67 closed

[2017-06-18 03:31] NicolasDorier commented on #54
we don't really care about updating dbreeze I think. We just need it do work reliably.

[2017-06-18 03:32] NicolasDorier commented on #55
This happen if a process that use those assembly is still open. I never got it.

[2017-06-18 03:34] NicolasDorier commented on #59
I think allowing multi runtime (several tumbler) on one server. This should be configured by command line.

[2017-06-18 03:36] NicolasDorier commented on #74
it should not happen anymore. I hide this exception, except if it happened 3 times in a row. Please resubmit if you see it again.

[2017-06-18 03:36] #74 closed

[2017-06-18 03:40] NicolasDorier commented on #75
ok now `status <address>` will show you the HD Path of the key if it belongs to the output wallet.

[2017-06-18 03:55] NicolasDorier commented on #75
I close it for now. Reopen if you still have issues.

[2017-06-18 03:55] #75 closed

[2017-06-18 13:11] NicolasDorier commented on #73
It is not possible to configure proxy for bob and alice.

[2017-06-19 00:35] goldbe commented on #60
Can you clarify what issue you are worried about here? I've been wondering for a while...
Dangerous for who? Tumbler? Alice? Bob?
Thanks

[2017-06-19 01:22] NicolasDorier commented on #60
For Tumbler:

In the Payment Phase Alice gives an Offer to the tumbler (exchange puzzle solution against BTC), the tumbler either solve the offer on chain (through fulfill transaction) or off-chain against the Escape Transaction signature of the client.

If the Tumbler get down before the fulfill or the escape transaction get broadcasted, but after he sent back the Puzzle solution. The Alice will

[2017-06-19 02:02] NicolasDorier opened #76 "In case of cooperative tumbler/client, cancel planned redeem once puzzle exchanged"
This would prevent loss of funds if the Tumbler or the Client go down at the wrong moment.

In case of cooperative tumbler: Cancel TumblerRedeem after you got the Escape signature.
In case of cooperative client: Cancel ClientRedeem after you got the puzzle solution off chain.

[2017-06-19 06:03] nopara73 commented on #60
"and how segwit would solve the issue"

It's still not clear.

[2017-06-19 06:05] nopara73 commented on #55
I don't think that's the case. I just fired up VS after restarting the Windows. Rebuilt the solution and got 4 warnings. I keep it open until we fix it "or magically goes away".

[2017-06-19 06:10] nopara73 commented on #54
1. From a security point of view it's not a good idea to not keep our packages up to date.

2. From a practical point of view people keep reporting problems those are happening because of DBreeze, updating might makes it better.

3. What the hell? Updating a package shouldn't be so hard!

[2017-06-19 08:19] NicolasDorier commented on #54
On the contrary, updating without reviewing can introduce a bug. This is not a high profile project.

[2017-06-19 08:21] NicolasDorier commented on #60
Segwit solve the issue because you can delegate the broadcasting of transaction to a third party service. (the ClientOfferRedeem)

[2017-06-19 13:12] NicolasDorier commented on #73
I am removing any TOR integration for first release. With Privoxy, the user can hide Alice.

Will add TOR + Dang's UI in second version shortly after.

[2017-07-11 01:19] NicolasDorier commented on #61
Closing this one in favor or https://github.com/NTumbleBit/NTumbleBit/issues/76 which achieve the same thing in a simpler way.

[2017-07-11 01:19] #61 closed

[2017-07-11 07:28] NicolasDorier commented on #71
I guess we can close that now

[2017-07-11 07:28] #71 closed

[2017-07-11 07:28] NicolasDorier commented on #55
do you still have it ?

[2017-07-11 07:33] nopara73 commented on #55
No.

[2017-07-11 07:33] #55 closed

[2017-07-11 13:29] NicolasDorier commented on #72
@goldbe any progress? This is last piece missing.

[2017-07-11 13:30] goldbe commented on #72
We are actively working on it now. We had to design a whole new protocol for this.
Give us a couple more weeks.

[2017-07-11 13:31] goldbe commented on #72
As an update on our progress:
We have the new protocol.
We have one half of it implemented but not tested yet.

[2017-07-13 04:59] NicolasDorier opened #80 "Feature for V2: Dropping HTTP, using plain TCP."
For now interaction between tumbler and client are using HTTP and JSON.
This has several issue:

* Fingerprinting at HTTP Level (if multiple implementation)
* Fingerprinting at JSON level (if multiple implementation)
* Inefficient use of bandwidth

This is not a big deal for now as tumblebit has only one implementation, but this is something that should be done in V2 once it get stable and used.

[2017-07-13 07:58] goldbe commented on #72
Hey, one question for you.  What values do we plan to include in the setup protocol?

We need the RSA public key for the Tumbler, and a hash of two zero-knowledge proofs (that we're currently specing out) but what else?  IP address/onion address/any networking information?

[2017-07-13 08:11] goldbe commented on #72
We also need key validity (time) periods, of course.

[2017-07-13 08:45] NicolasDorier commented on #72
so here is what we give to the user:

http://testnet.ntumblebit.metaco.com/api/v1/tumblers/7c762c3dc672d440a9a0ed3082a2fc5fbfcc51db

The user will then download

http://testnet.ntumblebit.metaco.com/api/v1/tumblers/7c762c3dc672d440a9a0ed3082a2fc5fbfcc51db/parameters

And verify that the hash of the parameters is equal to "7c762c3dc672d440a9a0ed3082a2fc5fbfcc51db".

Your proof will be included in t

[2017-07-13 08:53] goldbe commented on #72
The first link is a 404.

I'll think more about validity periods for keys, and see if I can come up with an argument on why they are needed. (Or not.)

[2017-07-13 09:00] NicolasDorier commented on #72
The first link is 404, this is normal, it is not browsable by the user.

[2017-07-13 09:01] nopara73 commented on #80
Concept ack.
Notes:
- while inefficient bandwidth use is not a problem at tumblebit, http/1.1 also not inefficient, only when there are many many rounds of requests in row. But http/2.0 fixes that.
- We could explore I2P or Tor hidden services.

However it also obsolates all 3 proxy types. Therefore if we can all agree on this goes into v2 I am not interested pushing the PR https://github.com/NTum

[2017-07-13 09:16] NicolasDorier commented on #80
it does not obsolete Socks proxy.

[2017-07-13 09:20] nopara73 commented on #80
Indeed, not necessarily. My PR is still relevant then.

[2017-07-13 13:24] EthanHeilman commented on #72
We need the tumbler to commit to a particular communication method/address. We should avoid DNS hostnames as a clever Tumbler could use DNS resolution differences to reduce the anonymity set e.g. tumbler says tumbler.com = 1.1.1.1 to some parties and 2.2.2.2 to others. TOR provides an effective solution to this in the form of .onions.

[2017-07-13 15:19] goldbe commented on #72
Yes agree with what ethan said. Esp if in  classic mode where Alice and bob are the same person. If the tumbler gives each Alice a different IP address and bob (who is the same person) uses it too, deanonymizing is trival. So we need to force the tumbler to give everyone the same network address.

[2017-07-14 14:23] NicolasDorier commented on #72
TumbleBit server require you to have Tor already (except if you use -allowinsecure), it auto register itself as hidden service.

[2017-07-14 14:25] NicolasDorier commented on #72
http://ye33yfa66xpqsjdu.onion/api/v1/tumblers/2fc0fba4f88fae783dd6e8f972920d51586e3084

[2017-07-18 10:00] NicolasDorier commented on #80
Done, now TumbleBit does not use HTTP, nor JSON for server transfer.

[2017-07-18 10:00] #80 closed

[2017-07-18 10:02] NicolasDorier commented on #73
Proposal of the "Kotori" standard cycle generator.
It mix 1 BTC per day at its peak, phases of overlapping cycles are separated by at least 2 blocks, making sure same circuit is not reused, even in absense of Tor control.

[code]

[2017-07-19 08:28] NicolasDorier commented on #72
Should I include the URL into the hash?

[2017-07-19 08:31] NicolasDorier commented on #72
TB shared link are now

ctb://blabla.onion?h=confhash

Confhash is the hash of everything inside ClassicTumblerConfiguration. It does not include the onion URL.

[2017-07-23 07:53] takaya-imai opened #84 "Client: StateMachine Error: NTumbleBit.Tor.SocksException: TTL expired"
I got the following error from client.
My tor setting for client side is wrong?

[code]

[2017-07-24 05:06] NicolasDorier commented on #84
somebody else also told me about same error, does it disappear after a while ?

[2017-07-26 08:49] goldbe opened #86 "Certainty parameter for RSA public key"
Pointing out a small issue found by @osagga.

In NTumbleBit/RsaKey.cs (https://github.com/NTumbleBit/NTumbleBit/blob/master/NTumbleBit/RsaKey.cs#L30) you can see that the certainty parameter to generate prime numbers is hardcoded as 2.  Certainty parameter k gives  probability 1-2^{-k} that the prime p or q used to generate the RSA public key is actually prime.

The NTumbleBit code references (htt

[2017-07-26 10:43] goldbe opened #87 "RsaKeyPairGenerator.cs appears to be based on outdated version of bouncycastle"
Pointing out another issue first noticed by Omar Sagga @ossaga, that I have also worked through. Omar notes that the RsaKeyPairGenerator.cs in NTumbleBit is the not the same as RsaKeyPairGenerator.cs from BouncyCastle’s Github repo:

https://github.com/bcgit/bc-csharp/blob/master/crypto/src/crypto/generators/RsaKeyPairGenerator.cs

It appears that the version in NTumbleBit is based on the 2011 ver

[2017-07-26 13:08] goldbe commented on #87
Just to solidify point 2.  This second check is important because there is an attack by Boneh and Durfee that allows one to determine the secret RSA exponent d from the public RSA exponent (N,e) if d < N^(0.29).   The check in the new version of bouncycastle ensures that d > N^(0.5) which rules out the Boneh Durfee attack. Here is the Boneh-Durfee paper:

crypto.stanford.edu/~dabo/papers/lowRSAexp

[2017-07-26 13:29] goldbe commented on #72
Just one more thought : Even if the Tumbler requires you to have Tor, I think one could still carry out a similar attack to this one:

Except we replace IP address with .onion address. This, the Tumbler attacks by giving each user a different .onion address. So we should include the .onion address on the blockchain.

[2017-07-27 01:12] NicolasDorier commented on #87
thanks a lot, so basically I only need to update to the latest KeyPairGenerator version ?

[2017-07-27 04:49] goldbe commented on #87
1. 2. and the less important 1. are changes to RsaKeyPairGenerator.cs
But 3. is a change to BigInteger.cs (see the link).

[2017-07-27 04:51] goldbe commented on #87
Also, a question for you, Nicolas: why is this older version of bouncyCastle being used here?
Is there a reason you started with that?

[2017-07-27 04:53] NicolasDorier commented on #87
Yes, I probably copied BC from NBitcoin and NBitcoin is based on a old version.

[2017-07-27 05:41] NicolasDorier commented on #87
@goldbe can you review if that is fine now?

[2017-07-27 05:46] NicolasDorier commented on #86
It would only impact the duration of key creation I think. I raised to 100 c95c2c49e1e7b6f5baab5789175a239fe562824c

[2017-07-27 06:38] goldbe commented on #87
I'll look. @osagga can you look as well?

[2017-07-27 06:38] goldbe commented on #86
Great, thank you.

[2017-07-27 06:43] #86 closed

[2017-07-27 06:53] NicolasDorier commented on #87
@goldbe now the creation of RSAKey take like 1 or 2 seconds. I remember it took several seconds before. Is it expected ?

[2017-07-27 06:56] goldbe commented on #87
That might be because of the change to bigInteger.cs

What happens if you revert to the old bigInteger.cs but keep using the new RsaKeyGenerator.cs ?

[2017-07-27 07:13] NicolasDorier commented on #87
ok sorry I just tried to reverse before the changes, and run again, and it is fast as well.... curious I would have swear that it was long at one point.

[2017-07-27 07:14] goldbe commented on #87
wait, maybe it is the certainty parameter.
If you drop the certainty parameter back down to 2, what happens?

[2017-07-27 07:16] NicolasDorier commented on #87
change on the parameter does not affect the speed.

[2017-07-27 12:19] osagga commented on #87
It could also be faster because of how "d" is calculated (it doesn't depend on phi now). I'm not fully sure if this new mathematical way is faster (using lcm instead of phi).
https://github.com/NTumbleBit/NTumbleBit/commit/999bb2d3ae954095dff8ee65e1db8749792e4184#diff-2304d036443ef2687cf02f9468c7a733R109

[2017-07-31 12:00] goldbe commented on #72
@osagga and I are happy to post a first version of the implementation of the TumbleBit setup protocol!
https://github.com/osagga/TumbleBitSetup/

@NicolasDorier we are waiting for your review and PR that would make the API easier to use.  You can find the spec of the protocol here: https://github.com/osagga/TumbleBitSetup/blob/master/setup.pdf

CC: @EthanHeilman

[2017-08-07 00:11] Yzord commented on #84
I had this error a lot when i was connected to the server of Nicolas, but never got this error anymore when i was connected to my Linux server.

[2017-08-07 00:13] Yzord opened #91 "fail: Client: StateMachine Error: System.Threading.Tasks.TaskCanceledException: A task was canceled."
7 of 8 clients spitted out this error. Number 8 was still running. Restarted the clients made them working again

         at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
         at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
         at System.Runtime.CompilerServices.ConfiguredTaskAwaitable.ConfiguredTaskAwaiter.Get

[2017-08-22 06:19] NicolasDorier commented on #91
closing, I fixed this one.

[2017-08-22 06:19] #91 closed

[2017-08-22 06:19] NicolasDorier commented on #84
Fixed this one. TOR keep retrying until no TTL

[2017-08-22 06:19] #84 closed

[2017-08-22 06:20] NicolasDorier commented on #87
should be up to date now

[2017-08-22 06:20] #87 closed

[2017-08-22 06:20] NicolasDorier commented on #73
Done

[2017-08-22 06:20] #73 closed

[2017-08-22 06:20] NicolasDorier commented on #69
will do, soon v1. I am trying to tumble 100 testnet client simultaneously, then will release v1

[2017-08-22 06:20] #69 closed

[2017-08-22 06:22] NicolasDorier commented on #54
Latest DBreeze package have issues on .net core 2.0. (https://github.com/hhblaze/DBreeze/issues/42 and https://github.com/hhblaze/DBreeze/issues/37) I needed to downgrade on internal projects. I will not upgrade until I test a new stable DBreeze version which work everywhere on another project.

[2017-08-22 06:23] NicolasDorier commented on #59
You can now configure the fee as long as the cycle. (documented in the default config file)

[2017-08-22 06:23] #59 closed

[2017-08-22 06:25] NicolasDorier commented on #68
@takaya-imai can you comment on 'prune mode MUST NOT be used.' ? it should work fine.

[2017-08-22 06:25] NicolasDorier commented on #72
Done!

[2017-08-22 06:25] #72 closed

[2017-08-22 08:47] nopara73 commented on #54
That doesn't solve the issue.

[2017-08-31 18:11] goldbe opened #93 "Crypto bug in the puzzle promise protocol: signatures are not securely encrypted."
Crypto bug found by @osagga and me:

In NTumbleBit, the ASN.1 DER encoding of the ECDSA signature produces an octet string of length 70-72 bytes [1]. However, the TumbleBit whitepaper expects the octet string of the signature to be exactly 64 bytes.  This is why the 64-byte output of SHA512 is used as a “One Time Pad” (OTP) to produce the encrypted the signature in the promise protocol.

However,

[2017-08-31 18:58] Mattyresch commented on #93
Doesn't seem like this bug would require too much additional coding, from a quick glance.

Simple fix seems like just checking the lengths prior to the loop, and extending the Length of keyHash using a padding scheme (maybe 10*1 like SHA-3), although if you want to avoid any sort of length-extension attacks a full switch to SHA-3 instead of SHA512 could probably work.

[2017-09-01 04:00] NicolasDorier commented on #93
Thanks a lot. The best way is indeed to make the signature 64 bytes, which should not be very complicated. I am on it.

[2017-09-01 04:05] NicolasDorier commented on #93
MMh actually I am using XOR key for something else, so I will go the MGF1 way.

[2017-09-01 04:17] NicolasDorier commented on #93
@goldbe @osagga  Can you review https://github.com/NTumbleBit/NTumbleBit/commit/44d8f5a19fc7eeb3cd8e185eb06967491a7a2eb3 and close the issue if this is good? The tests are still passing.

[2017-09-01 11:23] goldbe commented on #93
@NicolasDorier thanks for the fast turnaround.  It looks correct to me.

@osagga, what do you think?

Also, @NicolasDorier I don't understand the following comment you made, can you clarify? (Also I suppose this point is unrelated to this crypto bug in this issue, right?)

[2017-09-01 13:10] NicolasDorier commented on #93
Yes never mind, il is unrelated. I need to properly document the protocol so we can discuss how to improve TB in v2.

[2017-09-01 13:47] osagga commented on #93
@NicolasDorier It looks good! @goldbe I'm just not sure if using the MGF1 would violate any of the crypto proofs in the paper?

[2017-09-01 13:55] goldbe commented on #93
No, MGF1 is doing the same as SHA512 in this case.

So looks like we are good.

[2017-09-01 14:46] #93 closed

[2017-09-01 15:18] Yzord opened #94 "Tumbling stops working after an hour or two"
When clients are starting they make cycles and others are also participating into it. After a few hours (mostly 2) the cycles stop and the output on the clients changes. No cycles are being registered and no new block is shown.

[client.txt](https://github.com/NTumbleBit/NTumbleBit/files/1270685/client.txt)

In the text file you see that they are all connecting to the server and making cycles. All

[2017-09-03 05:56] NicolasDorier commented on #94
hey I fixed that today normally. It was caused by a deadlock in my code.

[2017-09-03 08:22] Yzord commented on #94
Testing, setting up the clients now...will report after 3 hours

[2017-09-03 10:46] Yzord commented on #94
After two hours it seems to be running. I'll wait for the first cycles to finish (37 blocks), but it looks good for now.

[2017-09-05 14:17] Yzord commented on #94
Confirmed working.

[2017-09-05 14:17] #94 closed

[2017-10-23 18:40] nopara73 opened #101 "Blind signature questions (and bug?)"
According to [Wikipedia](https://en.wikipedia.org/wiki/Blind_signature):

While it does not work like this in NTumbleBit: `signingKey.PubKey.Verify(signature, unblindedData.ToByteArray(), nonce)` will be false.

Am I missing something?
Everything else works as intended, only the last assert fails.

[code]

[2017-10-23 21:32] nopara73 commented on #101
In Slack @osagga said:

But this still fails:

[code]

[2017-10-24 01:38] NicolasDorier commented on #101
Take a look at [this test](https://github.com/NTumbleBit/NTumbleBit/blob/fcf61c4978fbb4ea1eb8c06a573932e38d43fa73/NTumbleBit.Tests/PuzzleProtocolsTests.cs#L390)

You also need to unblind the signature. ([Made here](https://github.com/NTumbleBit/NTumbleBit/blob/fcf61c4978fbb4ea1eb8c06a573932e38d43fa73/NTumbleBit/PuzzleSolution.cs#L63))

I advise you to be very careful about `signature`. I think the

[2017-10-24 18:53] nopara73 commented on #101
Now I have more questions than answers. I discovered your `Unblind` function, while I was using `RevertBlind` function.
My simple blinding test with `RevertBlind` works, but with `Unblind` fails:

[code]

What's the difference?

[2017-10-25 02:25] NicolasDorier commented on #101
I don't remember, there is one, and both are used. I coded that through evolutionary programming: banging until the test pass. I initially used the code of [Boston university](https://github.com/BUSEC/TumbleBit).

[2017-10-26 11:12] nopara73 commented on #101
Since TumbleBit is using blinding in a different way, I'll try to do it simply with BouncyCastle.

If I succeed I close this issue. If I don't and decide to give NTumbleBit a try again then I'll have questions.

[2017-10-27 07:46] NicolasDorier commented on #101
I think you should just copy the RSAKey class... The way I am doing in in TB is secure and reviewed by @osagga and others crypto guys. I am not using it "in a different way", this is how it probably should be done.

[2017-10-27 08:47] andre-amorim commented on #101
# this is a sharp comment ... in cryptography and mathematics (#101) number is related to cyclops numbers
# please if you are curious enough please check Glitch Primes and Cyclops Numbers - Numberphile
# on youtube https://www.youtube.com/watch?v=HPfAnX5blO0

[2017-10-27 12:30] Folleah opened #103 "How can I use a project without a server?"
I would like to see the documentation on the requests to the server directly

[2017-10-27 12:32] nopara73 commented on #101
@NicolasDorier

I did that, as you can see the branch I linked.

That was my original thinking. But not even @osagga figured out how to verify unblinded data. Furthermore with the notions that there are a revertblind, an unblind, a biginteger toarray and tounsignedarray and the thing is that I should not use biginteger for signatures is fairly scary. Maybe the standard bouncy castle way would be a

[2017-10-27 12:37] nopara73 commented on #103
@Folleah Unfortunately we don't have this. Can I ask for what project would you need it?

[2017-10-27 13:01] Folleah commented on #103
@nopara73 I meant using the API NTumbleBit.ClassicTumbler.Server.CLI without running client

[2017-10-27 13:19] nopara73 commented on #103
I know what you meant. We don't have documentation on that. It's because the API is not final yet.

Also I'd like to note you could take a look at [ZeroLink](https://github.com/nopara73/ZeroLink/). It's the same Tumbler <-> clients architecture as TumbleBit, but when I designed it I designed it in mind that any wallet should be able to easily integrate it, so it's much simpler.
I'm in the middle o

[2017-10-27 13:31] Folleah commented on #103
@nopara73 thank you!

[2017-10-27 13:31] #103 closed

[2017-10-27 14:04] NicolasDorier commented on #103
@Folleah NTumbleBit is not using HTTP but pure TCP over TOR. What do you mean by "I would like to see the documentation on the requests to the server directly"?

[2017-10-27 14:09] NicolasDorier commented on #101
RSA Blinding is using RSA, and in RSA everything is a number. If you want to blind some data, you need to convert them into a number, and depending on how you do it, it is not safe.

You can change the API if you want, but you should definitively not change any logic I coded at the crypto level.

[2017-10-27 17:14] nopara73 commented on #103
@NicolasDorier He wants to know what he has to implement in order to participate in a TumbleBit round.

[2017-11-02 15:18] LeenAlShenibr commented on #101
The statement from Wikipedia is probably inaccurate. I believe the signature has to unblind first (multiplied by the inverse of r), then it would verify with the original message. So the signature should verify under the following two combinations: The original message with the un-blinded signature and the blinded message with the blinded signature.
But this still fails:
var unblindedSignature = b

[2017-11-02 17:57] goldbe commented on #101
I haven't looked at the code. But I agree with Leen.

But RSA blinding only works if you use the same public key for blinding and for RSA verification.

[2017-11-05 14:34] nopara73 commented on #101
Thanks @LeenAlShenibr

It still fails.

So I should then use `Unblind` on the signature: `var unblindedSignature = key.PubKey.Unblind(new BigInteger(signature), blindFactor);`.

However it still fails.

Yes, it makes perfect sense. I don't know why this fails, though.
On the other hand [I implemented it](https://github.com/nopara73/HiddenWallet/issues/76#issuecomment-341976534) with BouncyCastle a

[2017-12-05 07:52] NicolasDorier commented on #76
Closing, as the tumbler does not know which TumblerRedeem match which Escape.

[2017-12-05 07:52] #76 closed

[2018-03-05 22:00] osagga opened #105 "alpha value used for the setup protocol"
After looking into ClassicTumblerParameter,
https://github.com/NTumbleBit/NTumbleBit/blob/a9ae7f0f1e4fca586d801de7d8ed6cf95a28efda/NTumbleBit/ClassicTumbler/ClassicTumblerParameters.cs#L407
 I've noticed that the value chosen for alpha is 41. Although 41 still works and provides the needed security, for optimality reasons (shown in the table* below), the value of alpha should change to 65537.
![im

[2018-03-06 02:12] NicolasDorier commented on #105
sure, can you do a PR? it will make the check faster?

[2018-03-06 03:13] osagga commented on #105
Yes it'll make the check faster since we would generate a fewer signatures than we would generate with alpha=41 . Nonetheless, the security provided is still strong.

PR related to this issue is #106

[2018-03-06 12:23] nopara73 commented on #105
Merged.

[2018-03-06 12:23] #105 closed

[2018-03-06 14:36] goldbe commented on #105
Great thanks all!

[2018-04-02 19:05] nopara73 opened #107 "[Feature] Use TorHttpClient"
I elevated out relevant parts from DotNetTor. This is much more reliable, 100% thread safe, well tested cross platform and fast and it can do stream isolation easily, which means identity separation now will take less than a few miliseconds instead of seconds: https://github.com/nopara73/MagicalCryptoWallet/blob/master/MagicalCryptoWallet.Tests/TorTests.cs

[2018-04-03 09:37] NicolasDorier commented on #107
Nice! I keep that in mind, I need to change TB to use native segwit as well.

[2018-05-26 13:15] Mahla-ch opened #108 "Failed running NTumbleBit server"
I followed the instruction for running NTumbleBit. After Configuration and running the nTumbleBit server, this error occured:

[code]

testnet bitcoin core is installed locally.

my bitcoin config:

serve config:

would you please help me to solve it?

[2018-05-26 13:27] D3m0nKingx commented on #108
Change:

rpc.cookiefile=/home/user1/.bitcoin/.cookie

[2018-05-27 05:00] Mahla-ch commented on #108
Thank you for your respond but It didn't resolve the problem :(

[2018-05-27 05:10] D3m0nKingx commented on #108
@NicolasDorier I had to change NTumbleBit/global.json to reflect the current version of dotnet-sdk ( v2.1.4 ) on my local copy. Is this something we need to enforce or could accept any version 2.0+ ?

[2018-05-27 05:47] D3m0nKingx commented on #108
@Mahla-ch I think the issue is with the cookie file, I'm testing with bitcoind right now, and I don't see any cookie file being created in the datadir ...

I added `rpccookiefile=/home/demon/.bitcoin/cookie` to my bitcoin.conf and it seems bitcoind doesn't create this file, however in the debug.log:

`debug.log:2018-05-27 05:28:20 Generated RPC authentication cookie /home/demon/.bitcoin/cookie`

C

[2018-05-27 06:34] nopara73 commented on #108
Comment out the cookie file from the server.config. You either connect through username/password or cookie file.

[2018-05-27 06:44] Mahla-ch commented on #108
@D3m0nKingx  according to your answer about cookiefile direction, I searched about it. I think it is generated when there is no config file. when I remove my config file and run the bitcoin core, the cookie file is generated, but when I set my config file and restart the core, there is no cookie file!!

@nopara73 the error is the same when I comment the cookie line.
`#rpc.cookiefile=/home/user1/.b

[2018-05-27 06:46] D3m0nKingx commented on #108
@nopara73 I confirm the same as @Mahla-ch

@Mahla-ch now that is odd, and shouldn't be happening that way, I recall the cookie originally being generated last time I ran bitcoin-core, even with the setting in the conf :confused:

[2018-05-27 06:53] D3m0nKingx commented on #108
I'm running bitcoin Version: 0.16.0-xenial1 installed from the ppa, and tried what you said @Mahla-ch and It's not generating any cookie whatsoever, with or without the conf file, even if i specify `-rpccookiefile` on the commandline (with no conf file) it still doesn't create it !

[2018-05-27 07:10] Mahla-ch commented on #108
@D3m0nKingx Do you think it is about bitcoin core? or there is something wrong with config file?
It says `RPC connection successfull` in terminal, then it shows the error!!

[2018-05-27 07:13] D3m0nKingx commented on #108
So deleted my datadir, and started bitcoind from scratch: `bitcoind -testnet -server`, and this created the .cookie file in ~/.bitcoin/testnet3/.cookie

NTumblebit is able to authenticate with the cookie, but it still says to fix rpc settings in server.config file, even so it says the ***RPC connection successful***  ... this is just weird @nopara73 you have any idea ?

Is there anyway to get more

[2018-05-27 07:14] D3m0nKingx commented on #108
It seems it only creates the cookie as long as no rpcuser/password is set

[2018-05-27 07:31] D3m0nKingx commented on #108
The problem with this is, when you don't have user/password set, then you can't use bitcoin-cli to control core. So I'm trying to figure out how to make `bitcoin-cli` work, because it's saying:
[code]
And after I make a bitcoin.conf and put in the rpccookiefile=/home/demon/.bitcoin/testnet3/.cookie`, then it spits out a new error:
[code]

[2018-05-27 07:47] D3m0nKingx commented on #108
@NicolasDorier Going back to TB, I uncommented"

[code]
And this resulted in:

[code]

[2018-05-27 07:53] Mahla-ch commented on #108
@D3m0nKingx  thanks alot for your responses :)
now I should find a way to have both user/pass set and .cookie file ...
I see your .cookie file location is `/home/demon/.bitcoin/testnet3/.cookie`. where should .cookie file location be? in testnet folder or .bitcoin folder?

[2018-05-27 07:59] D3m0nKingx commented on #108
By default the cookie is in ~/.bitcoin/.cookie without defining custom location with `rpccookiefile=`

[2018-05-27 08:06] D3m0nKingx commented on #108
This is what I was trying to do. It can't be done, by setting the rpcuser/password, it affectively disables having a cookie file. That and I have seen a message saying that rpcuser/password will be deprecated,

[2018-05-27 08:32] D3m0nKingx opened #109 "NTumbleBit.Tests.TumblerServerTests Failing"
## Tests that are failing
[code]
## Log file
[test.log](https://github.com/NTumbleBit/NTumbleBit/files/2042370/test.log)

[2018-05-27 08:37] Mahla-ch commented on #108
In this issue on bitcoin:
https://github.com/bitcoin/bitcoin/issues/10218
they claimed that:
If the content of .cookie file is like this:
`__cookie__:3784b8eb00726c09b275aff93882b7859cf482b8f714931343fds32431234gaa`
then the user name is:` __cookie__` and the password is: `3784b8eb00726c09b275aff93882b7859cf482b8f714931343fds32431234gaa`

Do you think it can help?!
I can not try now! because there

[2018-05-27 08:39] D3m0nKingx commented on #108
Right, but that's for use with the cookie authentication, not as "user/password" like the rpcuser/rpcpassword methods. It's separate all together. But heck if you find a way that works let me know :)

[2018-05-27 08:47] D3m0nKingx commented on #108
Ok I just made it work, when you're on testnet, you have to specify the cookie file location in the conf:

rpccookiefile=~/.bitcoin/testnet3/.cookie

The reason being is because I did an strace on bitcoin-cli (on testnet) and saw this:
[code]
So bitcoin-cli uses a default location, and setting a custom path for the cookie in the conf to anything other than this won't work.

[2018-05-27 09:04] D3m0nKingx commented on #108
So at this point, Bitcoin-core is working, bitcoin-cli is working, NTB Server is connecting successfully to bitcoin's rpc port and communicating, but for some reason there's some rpc settings error in the server.config file, and it's the only thing it's not clearly informing of what it is exactly. Only the trial and error I did with uncommenting one line at a time until the stack trace appeared af

[2018-05-27 09:28] Mahla-ch commented on #108
would you please explain it in details? Still it is not working...
we should define conf file and .cookie path? how do you have both of them?

[2018-05-27 09:30] D3m0nKingx commented on #108
On mainnet the bitcoin.conf file shouldn't have any user/password set, if you want to just use a cookie file.

On Testnet you need to set a conf file and define rpccookiefile=/home/<user>/.bitcoin/testnet3/.cookie

[2018-05-27 10:50] D3m0nKingx commented on #108
### bitcoin.conf:
[code]
### server.config:
[code]

[2018-05-28 01:43] NicolasDorier commented on #109
Probably because it can't find Tor, send through visual studio to get better stacktrace.

[2018-05-28 01:44] NicolasDorier commented on #108
Never copy/paste the cookie as user and password. The cookie file change everytimes the node reboot!

[2018-05-28 01:45] NicolasDorier commented on #108
`tor.server=http://127.0.0.1:9051` might be wrong try `tor.server=127.0.0.1:9051` instead.

[2018-05-28 04:09] D3m0nKingx commented on #108
Didn't work changing to `tor.server=127.0.0.1:9051`.

I know the cookie changes, that's why I had told him it's completely different from rpcuser/rpcpassword method.

[2018-05-28 04:12] D3m0nKingx commented on #109
I'm gonna install Visual Code (https://code.visualstudio.com/download) for linux. Hope this will be sufficient to help.

Also Tor is running and the ports are open, even bitcoind connected to it:

[code]

[2018-05-28 04:58] Mahla-ch commented on #108
@D3m0nKingx sorry again! but I couldn't resolve the problem yet! would you please help me to find the problem? all parts are the same as your config files but the error is the same as first time!:((

[2018-05-28 05:39] D3m0nKingx commented on #109
@NicolasDorier  Debug from VS CODE:

[code]

[2018-05-28 06:03] Mahla-ch commented on #109
@NicolasDorier  I have the same problem :(

[2018-05-28 06:16] D3m0nKingx commented on #109
Tor is definitely working, as I've run bitcoin independently and it created a tor onion address without issue, also I've run stratis-qt and another coin that both connect and sync their chains thru tor no problem, as well as using qbittorrent too.

To confirm Tor is working I tested with telnet (without cookieauthentication/hashcontroledpassword enabled in torrc):
[code]

[2018-05-29 02:39] NicolasDorier commented on #108
will take a look today. Long time I did not ran the project, but last time was working! :p

[2018-05-29 02:39] NicolasDorier commented on #108
Let's move to #109

[2018-05-29 02:39] #108 closed

[2018-05-29 02:40] NicolasDorier commented on #109
will look today

[2018-05-30 06:02] NicolasDorier commented on #109
ok I am getting an error in the tests but different one, which OS?

[2018-05-30 06:14] Mahla-ch commented on #109
Ubuntu 16.04 LTS

[2018-05-30 06:15] NicolasDorier commented on #109
btw the tests do not use TOR normally.

[2018-05-30 06:16] NicolasDorier commented on #109
will try to reproduce on Ubuntu.

[2018-05-30 07:46] Mahla-ch commented on #109
Thanks alot for your attention. I'm waiting for your update:)

[2018-06-01 05:15] D3m0nKingx commented on #109
[code]

[2018-06-01 05:29] D3m0nKingx commented on #109
[code]
Voila we're in business :100:  well done thank you :)

[2018-06-01 05:30] D3m0nKingx commented on #109
And then this happened haha :
[code]

[2018-06-01 05:31] NicolasDorier commented on #109
ah ok will bump the requirement and test on 0.16.0 today.

[2018-06-01 05:31] NicolasDorier commented on #109
Fixing now actually this is same error...

[2018-06-01 05:33] D3m0nKingx commented on #109
But do you want to be backward compatible to still use `getinfo` as well if people want to use a lower version ? or enforce requiring core version 16 ?

[2018-06-01 05:38] NicolasDorier commented on #109
@D3m0nKingx  ok try again! I think I can keep backward compat without too much effort.

[2018-06-01 05:41] D3m0nKingx commented on #109
[code]
Bravo ! :tada: :smile:

[2018-06-01 05:41] NicolasDorier commented on #109
finally!

[2018-06-01 05:45] D3m0nKingx commented on #109
@Mahla-ch All good, give her a go !

Awesome, I will close this issue, thank you :+1:

[2018-06-01 05:45] #109 closed

[2018-06-02 12:38] Mahla-ch commented on #109
@NicolasDorier: I appreciate your responsibility! thank you very much!
Thanks @D3m0nKingx. It works for me too:)

[2018-06-12 11:33] davisbra opened #110 "How to use?"
hi guys,
I'm somehow newbie and interested in this subject.
I use testnet bitcoin and install the project from the instruction but don't know If it works correctly or not!!
This output is printing repeatedly in both server and client side:
server:

 client:

I need your help to use it.
how do transactions broadcast? when do transactions send to NTumblebit server? what should I do to see results?

[2018-06-14 00:51] NicolasDorier commented on #110
hey, how this work is quite simple:

1. The client and the server connect to your local bitcoin core wallet.
2. The client will connect to the server and tumble with other clients. Tumbled money is then sent to a "destination wallet". Such destination wallet can be either an xpubkey or another bitcoin core wallet.

The Stratis team has a better GUI wallet that you might want to try. (I have not ye

[2018-06-14 05:44] davisbra commented on #110
thanks @NicolasDorier,

- then bitcoins from my bitcoin core wallet will be sent to the wallet that I put its xpubkey in config file?
  but why I can't see anything happen?:D
  Do you think my tumbler server address is OK?

- You mean Breeze wallet? I wanted to use it in testnet but it doesn't support.

[2018-06-17 10:51] davisbra commented on #110
@NicolasDorier
sometimes I see this error in terminal. Is this interrupt tumbler operation?

![image](https://user-images.githubusercontent.com/29014894/41507129-6d9e33f0-7241-11e8-9c60-2ca64065434f.png)

and this is the log file from terminal:
[log.txt](https://github.com/NTumbleBit/NTumbleBit/files/2108872/log.txt)

[2018-06-18 02:49] NicolasDorier commented on #110
@davisbra ah yes, I need to update NTumbleBit to use v0.16. Will do during the week.
Anyway, like this it won't work. As temporary work around start bitcoind with deprecatedrpc-addwitnessaddress.

[2018-06-18 07:30] davisbra commented on #110
Thank you @NicolasDorier. I'll wait for your update :)

[2018-06-23 02:41] NicolasDorier commented on #110
@davisbra Updated NTumbleBit to .NET Core 2.1 and 0.16.0.

[2018-07-12 18:56] maciejzaleski commented on #60
Since we are using two different communication channels it is possible that the node would loose its BTC peers while still being able to communicate over TOR with the tumbler.
As a quick fix I would suggest checking if we are connected to any peers before engaging in the final payment phase.
This is not a complete fix to this issue but should make this phase a bit more stable.

Here is my PR for t

[2018-07-13 06:08] NicolasDorier commented on #60
@maciejzaleski I see. Though the tests need to be updated to work.
Don't make changes without running tests, there is so much things which can go wrong.

[2018-09-06 09:30] feitianlong opened #111 "How to run?Test Failure"
Hi，i'm a newbie.

when i run  according to your wiki, i encounterred the failure following.  How should i solved the errors?
Thx！

1. United Test
...\myApp\NTumbleBit\NTumbleBit.Tests>dotnet test

Starting test execution, please wait...
[xUnit.net 00:04:54.8093444]     NTumbleBit.Tests.TumblerServerTests.CanGenerateAddress [FAIL]
NTumbleBit.Tests.TumblerServerTests.CanGenerateAddress Failure

Fail

[2018-09-06 23:01] FyreDemonyte opened #112 "NTumbleBit isn't supporting Target .NET Core higher than 2.1"
@NicolasDorier

This error ensues upon trying to run the project:
[code]

The installed dotnet packages on my system are:

[code]

The server ran fine when I tested only a couple months ago on this same dotnet version I have installed. What happened since then ?

[2018-09-06 23:16] D3m0nKingx commented on #112
After downgrading from donet-sdk-2.1.4 => dotnet-sdk-2.1 The project built/executed.

[2018-09-06 23:53] D3m0nKingx commented on #111
I confirm the same Error occurring in Testing, Also I'm having 2 other errors:

[code]
and
[code]

[2018-09-07 00:35] D3m0nKingx commented on #111
@feitianlong you need to uncomment the rpc.user/password lines in the server.conf so change:

#rpc.user=bitcoinuser
#rpc.password=bitcoinuser

to

rpc.user=bitcoinuser
rpc.password=bitcoinuser

The bang symbol '#' is equivalent to saying = ignore this line when a program reads it.

[2018-09-07 00:49] FyreDemonyte opened #113 "System.UnauthorizedAccessException: Access to the path '/var/lib/tor/control_auth_cookie' is denied."
[code]
This is actually an old problem I've come across that I've found at this point is only one work-around, and is also the reason I think most people aren't getting this error is because they're running the server as root user, and most users probably run this on a server which is by default logged in as root#.

So when you run NTumbleBit as a non-sudo user this error will occur because the TO

[2018-09-07 01:01] D3m0nKingx commented on #113
That being if someone wants to use the tor cookie rather than setting a tor password.

[2018-09-07 11:26] NicolasDorier commented on #112
I was at first thinking to remove the specific version of the meta package AspNetCore.App, it works... but can't build on Visual Studio then :/

[2018-09-07 11:28] NicolasDorier commented on #111
Run the test again, I think those tests are quite flaky :/ I though having fixed it last time I worked on TB

[2018-09-07 11:28] NicolasDorier commented on #113
the best is to remove the root privileges of the control_auth_cookie.

[2018-09-07 11:34] D3m0nKingx commented on #111
I ran the tests 3 times, same 3 keep failing. Is there something else I should do before executing `dotnet test` in that folder ?

[2018-09-07 11:35] NicolasDorier commented on #111
I will need to take a look :/ pretty sure it was working last time I ran the project.

[2018-09-07 11:59] D3m0nKingx commented on #113
Because of the way linux's security/filesystem works and because TOR recreates that directory/cookie on every startup:

If I change the owner/permission of directory /var/lib/tor and the cookie to my $USER.

Tor will fail on next restart cause it runs as a different user and will not be able to modify that directory/contents:

[code]
Tor must be run as the same User as the permissions of the direc

[2018-09-07 12:41] feitianlong commented on #111
Thx two guys。
Run test again after uncomment #.   The fail still exists！
[code]

[2018-09-07 13:59] NicolasDorier commented on #111
@feitianlong you don't have the same error as @D3m0nKingx for the tests. Can you run tests again?

[2018-09-08 07:49] feitianlong commented on #111
@NicolasDorier  test again.

United test
[code]

[2018-09-19 14:17] feitianlong commented on #112
Installing .NET Core SDK 2.1.300-preview2 did the trick:
[https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-preview2](url)
referring to [https://github.com/dotnet/cli/issues/8743](url)

[2018-09-28 03:28] feitianlong commented on #111
@D3m0nKingx  Has the error occurring in Testing been resolved?  I have not solved this problem so far.
THX！！！！

[2018-09-28 03:52] D3m0nKingx commented on #111
@feitianlong not yet afaik

[2018-09-29 04:44] feitianlong commented on #111
@D3m0nKingx @NicolasDorier  I ran the project in the Windows10 now,.

Excecuting `dotnet test`

[code]
TumblerServerTests.cs:line 142 : `Assert.Equal(new KeyPath("0'/0'/2'"), wrpc.GetKeyPath(k1));`

According to wrong information, i modified the codes form `Assert.Equal(new KeyPath("0'/0'/2'"), wrpc.GetKeyPath(k1)); ` to `Assert.Equal(new KeyPath("0'/0'/1'"), wrpc.GetKeyPath(k1));`

The shell show

[2018-09-29 14:55] feitianlong commented on #111
@NicolasDorier @D3m0nKingx
Although the first problem is solved, the second problem still exists.
[code]
The bitcoin.config:
[code]
And server.config:
[code]

1. Why is it still ` Error connecting to RPC server The remote server returned an error: (401) Unauthorized.`?
2. How to fix server.conf ?
3. By the way ,I find that the comment is **confusing** like this:
- ![image](https://user-images.gith

[2018-09-30 08:54] feitianlong commented on #111
@NicolasDorier
I success to run the server:
![image](https://user-images.githubusercontent.com/39018130/46255524-877a9700-c4d0-11e8-98c3-5e254305e1d2.png)
But i can't run the client,the error is this:
![image](https://user-images.githubusercontent.com/39018130/46255541-babd2600-c4d0-11e8-90ae-c9bb78542e44.png)
And the near code in _TextFileConfiguration.cs_ is
[code]
I can local the wrong is `retu

[2018-09-30 11:53] NicolasDorier commented on #111
@feitianlong what is your tumbleruri ? Should start by `onion:`

[2018-10-01 03:50] feitianlong commented on #111
@NicolasDorier ok !   Do i need to  strat by the onion router?  So  should i install Tor broswer? And config Tor?

`tumbler.server=http://localhost:37123/`

client.config :
[code]
corresponding server.conf  following:
[code]

[2018-10-01 08:27] NicolasDorier commented on #111
`tumbler.server=http://localhost:37123/` this is not what you should set, the server give you onion links normally.

[2018-10-05 03:46] D3m0nKingx commented on #111
@NicolasDorier I see bitcoin core is on 0.17.0 any plans to update?

[2018-10-05 07:49] NicolasDorier commented on #111
I will soon, that and another update on something I noticed here.

[2018-10-09 13:51] NicolasDorier commented on #111
I will update things end of this week as well as fix the vulnerability I found out.

[2018-10-15 14:01] feitianlong commented on #111
@D3m0nKingx @NicolasDorier
i did run the project, but something wrong!
These two questions confused me!

Bitcoin Core Version:0.16.0

The shell shows following
![image](https://user-images.githubusercontent.com/39018130/46952733-4d0f1d80-d0be-11e8-8120-ac6e712a4445.png)

**1.** Why the  `Should stay connected` shows ` False` instand of `True`?(I dont know the standred result,i guess it is ture.)

[2018-10-16 02:04] NicolasDorier commented on #111
`Should stay connected` is `true` when you risk loosing money by disconnecting at this precise moment.

`ClientChannelBroadcasted` just mean that you did your channel, so no risk of loosing money here.

[2018-10-16 02:47] feitianlong commented on #111
So what about the second question? It seems that there are no Tumbler `Escow and Tumbler Redeem transactions` generated, only `ClientEscorw transaction and ClientRedeem transaction`.
And my output wallet didn't get Alice's money, and the money was returned to Alice's wallet.

[2018-10-16 02:53] NicolasDorier commented on #111
Probably because your tumbler does not have enough liquidity to tumble. Does it?

[2018-10-16 03:17] feitianlong commented on #111
Pardon me! What does enough liquidity mean?   enough tumble node or money(using shorty cycle.And there are 1B), or other?

[2018-10-16 04:38] NicolasDorier commented on #111
Your tumbler need as money in the wallet so it can tumble.

[2018-10-16 07:36] feitianlong commented on #111
All right!
I only have one test coin now. How much does it need to satisfy?
Can you give me some test coin?
address: 2N5pRBYdBtmL4MJmbmSq2Dcsrhm79VdFf3u

[2018-10-16 07:42] NicolasDorier commented on #111
I don't have any

[2018-10-16 14:00] feitianlong commented on #111
My understanding of tumbler is middleman (i.e server?), running tumble server, how do I know how much money tumbler has and how to charge tumbler?

[2018-10-17 02:51] NicolasDorier commented on #111
I don't remember the denomination of `Kotori`, but if 1 round is 0.1 BTC, then the tumbler need 0.1 BTC per participants in its wallet.

[2018-10-17 06:54] feitianlong commented on #111
All right!
The client(Alice) is connected to the bitcoin core wallet(by rpc), and the server(tumbler) is also connected to the bitcoin core wallet (by rpc)? Then the bitcoin core wallet acts both as Alice's wallet and as a tumbler wallet, right?
`FriendlyName = "Shorty",	Consensus = consensus,		Denomination = Money.Coins(0.01m)`
If I use the shorty cycle(the denomination of shorty is 0.01m), then

[2018-10-17 06:56] NicolasDorier commented on #111
You need Alice, Tumbler and Bob, each with their own wallet, each with enough money to tumble.

[2018-10-17 06:58] NicolasDorier commented on #111
Make a tumbler: Create 3 Alices which connect to it. Put to each of those alice and the tumbler some money to it, and wait. It will happen.

[2018-10-17 06:59] NicolasDorier commented on #111
I don't know why the tumble cycle does not go through, but you can try to get some info by doing `status <cycleId>` and see what it tells you on the tumbler

[2018-10-17 07:56] feitianlong commented on #111
Create 3 Alice means 3 pcs to run the client?
Because my pc can only start a Client (I don't know how a PC runs multiple clients).

[2018-10-17 08:04] NicolasDorier commented on #111
can be same PC. But I can't tell you why it is not tumbling only with the data you give me here.

[2018-10-17 08:33] feitianlong commented on #111
1. Is the same wallet used by Client and Tumbler? If not, how do you give Tumbler money?
2. How to create 3 Alice in same PC? Because every time I `donet run -testnet` Client.Cli again, there will be info following
[code]

[2018-10-17 08:35] NicolasDorier commented on #111
look the command line with `--help` and choose another folder.

[2018-10-17 09:04] D3m0nKingx commented on #111
@NicolasDorier just an fyi that bitcoin's ppa repository now officially installs bitcoin v0.17.0 for linux:
[code]

[2018-10-18 07:46] feitianlong commented on #111
@NicolasDorier
1. The following error occurs when I run the client.Does this affect tumbler?
[code]
2. And I did a status cycleID (same ID) on the command line of the server and the command line of the client, and got different infos. Why is it?
Client>>status 1437893
![image](https://user-images.githubusercontent.com/39018130/47138006-c428f980-d2ea-11e8-81a0-0178b7d58dd6.png)
Server>>status 14378

[2018-10-19 03:34] NicolasDorier commented on #111
It is normal that server and the server does not show the same info.  No concern for the exception.

Though it should show in the logs of the server what is happening when a Client escrow has been done for example. Copy paste all your server logs.

[2018-10-19 05:11] feitianlong commented on #111
@NicolasDorier Thank you very much for your patience.
**Server:**
[code]
**Client:**
[code]

[2018-10-19 05:17] NicolasDorier commented on #111
Wait long enough until the client go into some other cycle, I need to see why the tumbler does not create channel, normally it gives message about it.

[2018-10-19 07:44] feitianlong commented on #111
Is it enough?
Although the log file shows how TumblerChannelEstablishment is, I still don't understand why I can't tumble
[log.txt](https://github.com/NTumbleBit/NTumbleBit/files/2494859/log.txt)

[2018-10-19 08:14] NicolasDorier commented on #111
and logs of tumbler? this is logs of client.

[2018-10-19 08:46] feitianlong commented on #111
@NicolasDorier
[logs.txt](https://github.com/NTumbleBit/NTumbleBit/files/2495050/logs.txt)

[2018-10-21 10:14] NicolasDorier commented on #111
Ok so from the logs, nothing particular seems to go wrong. So I think it might have to do with the fact that Testnet is quite unreliable with lot's of reorg, or like fast block coming on.

I would advise you to try with RegTest so you can mine by yourself. Else wait a bit.

The state is of your client was  `TumblerVoucherSigning` for 1439503, and judging the logs of tumbler, the tumbler signed the

[2018-10-22 14:12] feitianlong commented on #111
Yes.    Never

[2018-10-24 05:15] NicolasDorier commented on #111
I will try myself, though I am quite confident this is caused by bad testnet generating blocks too fast. Please send me more logs of both tumbler and server if you have.

[2018-10-24 14:34] feitianlong commented on #111
@NicolasDorier
Log generated when syncing blocks.
Testnet
[ServerLogs_testnet.txt](https://github.com/NTumbleBit/NTumbleBit/files/2510940/ServerLogs_testnet.txt)
[ClientLogs_testnet.txt](https://github.com/NTumbleBit/NTumbleBit/files/2510941/ClientLogs_testnet.txt)
RegTest
[ServerLogs_regTest.txt](https://github.com/NTumbleBit/NTumbleBit/files/2510943/ServerLogs_regTest.txt)
[ClientLogs_regTest.tx

[2019-04-06 09:45] Colonel-Lee opened #119 "Test stagnation"
After I ran the command 'dotnet test' mentioned in Wiki, there are a lot of output in the terminal until 'Adding fixed seed nodes as DNS doesn't seem to be available.'. And then no output any more, the process dosen't go to an end however. Is it an unhandle error in this case?

By the way, the version of .NET Core SDKs I installed is 2.1.602 and 0.17.1 to Bitcoin Core. Is there anything wrong? Loo

[2019-04-07 06:18] Colonel-Lee commented on #119
oh,  after 'Adding fixed seed nodes as DNS doesn't seem to be available.', there are some logs outputed below.

2019-04-07 05:46:10 Flushed 0 addresses to peers.dat  75ms
2019-04-07 05:46:10 Flushed 0 addresses to peers.dat  18ms
2019-04-07 05:46:11 Flushed 0 addresses to peers.dat  18ms
2019-04-07 06:01:10 Flushed 0 addresses to peers.dat  36ms
2019-04-07 06:01:10 Flushed 0 addresses to peers.dat

[2019-04-09 06:34] Colonel-Lee commented on #119
Oh, it is harmless.
It desn't matter at all. Just ignore the UnitTest and go to the next step.

[2019-04-11 09:43] NicolasDorier commented on #119
this is regtest, yes it does not matter.

[2019-04-11 09:44] NicolasDorier commented on #119
The tests should not stall though.

[2020-03-06 02:09] #112 closed

[2020-03-06 02:27] #113 closed

[2021-12-03 19:53] Pornprasert opened #121 "W"

[2021-12-03 19:53] Pornprasert commented on #121
Hi

[2021-12-04 10:40] nopara73 commented on #121
W